
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('../images/morocco-blue.png')
}

h1{
    
background-color: #ff9800;
    width:30%;
    padding: 2%;
}

#gameinstruction{
    color: #0e620e;
    background-color: #e7d0a7;
    width:50%;
    height:300px;
    padding: 2%;
    margin-bottom: 1%;
}

#randomnum-winslosses{
    display:flex;
}

#bluecrystal{
    width:200px;
    height: 200px;
}
#number-to-guess{

    background-color:  #00962ea6;
    width:20%;
    height: 100px;

}

